<ion-view> 
    <ion-side-menus>

        <ion-side-menu side="left" cache-view="false">
            <ion-content scroll="false">
                <div class="list">

                    <ion-item class="item item-avatar snav">
                        <img ng-click="modal2.show()" ng-src="{{getProfilePicture()}}">
                        <h2>{{username}}</h2>
                        <p>Welcome to BadgerScalp!</p>
                    </ion-item>

                    <a class="item item-icon-left snav" ng-click="closeMenu(false)" nav-direction="enter" ui-sref="app.tabs.browse">
                        <i class="icon ion-ios-home"></i>
                        Home
                    </a>

                    <a class="item item-icon-left snav" ng-click="closeMenu(true)" nav-direction="enter" ui-sref="app.currentbid">
                        <i class="icon ion-social-usd"></i>
                        Current Bids
                    </a>

                    <a class="item item-icon-left snav" ng-click="closeMenu(true)" nav-direction="enter" ui-sref="app.currentpost">
                        <i class="icon ion-ios-compose"></i>
                        Current Posts
                    </a>

                    <div class="item item-divider snav" ng-click="toggleSetting()">Account</div>
                    <div id="account_setting_block">  
                        <a class="item" ng-click="logout()" ui-sref="login">Log Out</a>
                        <a ng-if="canPassChange" class="item" ng-click="changePassword()">Change Password</a>
                        <a class="item item-assertive" ng-click="removeUser(thisUser)" >Delete Account</a>
                    </div>

                </div>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>

            <ion-nav-bar class="bar bar-header bar-royal">
                <ion-nav-back-button>
                 </ion-nav-back-button>

                <ion-nav-buttons side="left">
                   <button id="menuButton "menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                </ion-nav-buttons>

                <ion-nav-buttons side="right">
                   <button class="button button-icon icon ion-ios-search" ng-click="searchModal.show()"></button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-nav-view name="menucontent"></ion-nav-view>

            <div class="bs-fab" ng-click="postModal.show()">
                <img src="img/bs-fab.png" />
            </div>

        </ion-side-menu-content>

    </ion-side-menus>
</ion-view>
