<ion-view>
    <ion-side-menus>

        <ion-side-menu side="left">
            <ion-content>
                <div id="left_bar">
                    <div id="user_profile">
                        <img src="img/default_profile.jpg">
                        <div class="user_name">your name</div>
                    </div>
                    <div id="setting">
                        <div id="view_bid" ui-sref="app.tabs.currentbid">
                            <div class="setting_item">View Current Bid</div>
                            <hr>
                        </div>
                        <div id="view_post" ui-sref="app.tabs.currentpost">
                            <div class="setting_item">View Current Post</div>
                            <hr>
                        </div>
                        <div id="account_setting">
                            <div class="setting_item" ng-click="toggleSetting()">Account Setting</div>
                            <hr>
                            <div id="account_setting_block">
                                <div class="setting_block_item">disable notification</div>
                                <div id="disable_block">
                                    <div><input type="checkbox">associate google</div><br>
                                    <div><input type="checkbox">associate facebook</div>
                                </div>                                   
                                <div class="setting_block_item" ui-sref="app.tabs.mailchange">change email</div>
                                <div class="setting_block_item" ui-sref="app.tabs.passwardchange">change passward</div>
                                <div class="setting_block_item">delete account</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<button ng-click="logout()" class="button button-large button-assertive" ng-cloak>Log Out</button>-->
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>

            <ion-nav-bar class="bar bar-header bar-royal">
                <ion-nav-back-button>
                 </ion-nav-back-button>

                <ion-nav-buttons side="left">
                   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                </ion-nav-buttons>

                <ion-nav-buttons side="right">
                   <button class="button button-icon icon ion-ios-plus-empty" ng-click="modal.show()"></button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-nav-view name="menucontent"></ion-nav-view>

        </ion-side-menu-content>

    </ion-side-menus>
</ion-view>
