<ion-view>
	<ion-nav-title>
        <h1 class="title">BadgerScalp</h1>
    </ion-nav-title>

    <ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-color-light">

        <ion-tab title="BadgerScalp" icon-off="ion-pricetags" icon-on="ion-pricetags" ui-sref="app.browse">
            <ion-nav-view name="browse"></ion-nav-view>
        </ion-tab>
        <ion-tab title="BadgerScalp" icon-off="ion-person" icon-on="ion-person" ui-sref="app.chat">
            <ion-nav-view name="chat"></ion-nav-view>
        </ion-tab>
        <ion-tab title="BadgerScalp" icon-off="ion-location" icon-on="ion-location" ui-sref="app.map">
            <ion-nav-view name="map"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
