<ion-view title="BadgerScalp" hide-back-button="true">
	<ion-nav-buttons side="left">
       <button id="menuButton "menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
       <button class="button button-icon icon ion-ios-search" ng-click="searchModal.show()"></button>
    </ion-nav-buttons>

	<ion-content delegate-handle="browse-scroll" class="has-header" scroll="true" on-scroll="fabControl($event)">
		<ion-list>
			<ion-item class="item-avatar" 
				collection-repeat="notif in notifications | orderBy:'$id'"
				ng-href="{{$state.href(app.tabs.bid2, notif.listing)}}">

				<img ng-if="notif.image === undefined || notif.image == ''" src="./img/ticket.png">
                <img ng-if="notif.image !== undefined && notif.image != ''" ng-src="data:image/jpeg;base64,{{notif.image}}" />
				<p style="float:right"><i class="icon ion-ios-clock-outline" style="padding-right:5px"></i>{{getListingTime(notif.createdAt)}}</p>

				<h2 ng-if="notif.type == 'bid'">{{getListingTitle(notif.listing)}}</h2>
				<p ng-if="notif.type == 'bid'">You bid <b>${{notif.price}}</b> on this listing</p>

				<h2 ng-if="notif.type == 'post'">{{notif.title}}</h2>
				<p ng-if="notif.type == 'post' && notif.quantity == 1">You posted <b>{{notif.quantity}}</b> ticket for <b>${{notif.price}}</b></p>
				<p ng-if="notif.type == 'post' && notif.quantity > 1">You posted <b>{{notif.quantity}}</b> tickets for <b>${{notif.price}}</b></p>

				<h2 ng-if="notif.type == 'accept-buyer'">{{notif.sellerFirst}} {{notif.sellerLast}} accepts bid!</h2>
				<p ng-if="notif.type == 'accept-buyer'" style="overflow:scroll;text-overflow:initial;">{{notif.message}}</p>

				<h2 ng-if="notif.type == 'accept-bidder'">{{notif.buyerFirst}} {{notif.buyerLast}}</h2>
				<p ng-if="notif.type == 'accept-bidder'">just bid <b>${{notif.price}}</b> on {{notif.title}}</p>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>