<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal">
        <h1 class="title">Edit Post</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty" ng-click="close_editpost()"></button>
        </div>
    </ion-header-bar>

	<ion-content scroll="false">
        <div class="header-hover"></div>
        <form novalidate name="postForm" title="Post" ng-submit="updatePost(id, title, date, price, quantity, type, details)">

            <div class="row">
                <div class="col col-56">
                    <label class="item item-input item-floating-label" ng-class="{ 'has-error' : postForm.eventTitle.$invalid && postForm.$submitted }">
                        <span class="input-label">Event</span>
                        <input name="eventTitle" type="text" ng-model="title" ng-maxlength="30" required>
                    </label>
                    <div class="form-errors" ng-messages="postForm.eventTitle.$error" ng-if="postForm.$submitted">
    				    <div class="form-error" ng-message="maxlength">Keep event title under 30 characters</div>
    				</div>
                </div>
                <div class="col col-43">
                    <label class="item item-input item-floating-label" ng-class="{ 'has-error' : postForm.eventDate.$invalid && postForm.$submitted }">
                        <span class="input-label">Date</span>
                        <input name="eventDate" type="date" ng-model="date" min="{{yesterday}}" max="{{oneYear}}" required>
                    </label>
                </div> 
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-floating-label" ng-class="{ 'has-error' : postForm.price.$invalid && postForm.$submitted }">
                        <span class="input-label">Price</span>
                        <input name="price" type="number" ng-model="price" min="0" required>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-floating-label" ng-class="{ 'has-error' : postForm.quantity.$invalid && postForm.$submitted }">
                        <span class="input-label">Quantity</span>
                        <input name="quantity" type="number" ng-model="quantity" min="1" max="99" required>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-floating-label" ng-class="{ 'has-error' : postForm.eventType.$invalid && postForm.$submitted }">
                        <span class="input-label">Type</span>
                        <input ng-click="typeSelect()" name="eventType" type="text" ng-model="type" required readonly>
                    </label>
                </div>
            </div>

            <div class="row">
                <div ng-click="takePicture()" class="col photoThumb">
                    <i class="postIcon icon ion-camera"></i>
                </div>
                <div class="col">
                    <label class="item item-input item-floating-label" ng-class="{ 'has-error' : postForm.details.$invalid }">
                        <span class="input-label">Details</span>
                        <textarea name="details" ng-model="detail" ng-maxlength="160"></textarea> 
                    </label>
                    <div class="form-errors" ng-messages="postForm.details.$error">
                        <div class="form-error" ng-message="maxlength">Keep details under 100 characters</div>
                    </div>
                </div>
                
            </div>

                
            <div class="row">
                <div class="col">
                    <div class="padding-top">
                        <input type="submit" class="button button-block button-assertive" value="SAVE"/>
                    </div>         
                </div>
            </div>       
        </form>
	</ion-content>
</ion-modal-view>