<ion-modal-view class="half">
	<ion-header-bar class="bar bar-header bar-royal">
		<h1 class="title">Change profile picture</h1>
		<!-- <button class="button button-clear button-primary" ng-click="closeModal(1)">Cancel</button> -->
	</ion-header-bar>
	<ion-content class="padding">
		<button class="button button-block button-white" ng-click="closeModal()">Cancel</button>
		<div class="card">
			<div class="item">
				<img ng-show="picture !== undefined" ng-src="{{picture}}">
				<br>
				{{picture}}
				<!-- <h2 style="word-wrap:break-word; white-space:normal">{{picture}}</h2> -->
			</div>
		</div>
		<button class="button button-block button-royal" ng-click="choosePicture()">Choose from album</button>
		<button class="button button-block button-royal" ng-click="takePicture()">Take a picture</button>
		<button class="button button-block button-royal" ng-click="confirm()">Confirm</button>
	</ion-content>

</ion-modal-view>