<ion-view cache-view="false" hide-nav-bar="true">
	<ion-content id="authView" class="ionic login" scroll="true">

		<div class="list text-center padding">
	    	<i class="icon ion-pricetags larger positive"></i>
	    	<span class="login-title">BadgerScalp</span>
	    </div>

	    <form novalidate name="loginForm" ng-submit="loginForm.$valid && resetPassword(user.email)">
	    	<div class="list list-inset">

		        <label class="item item-input" ng-class="{ 'has-error' : loginForm.email.$invalid && loginForm.$submitted }">
					<input name="email" type="email" ng-model="user.email" placeholder="Email"
					ng-minlength="5"
					ng-maxlength="30"
					required>
		        </label>
				<div class="form-errors" ng-messages="loginForm.email.$error" ng-if="loginForm.$submitted">
					<div class="form-error" ng-message="required">This field is required.</div>
					<div class="form-error" ng-message="email">This field is must be an email.</div>
					<div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
					<div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
				</div>


		    <div class="padding-top">
				<input id="retrieveButton" type="submit" class="button button-block button-positive" value="Retrieve Password">
				<a ui-sref="login" nav-direction="forward" nav-transition="android" class="button button-small button-clear button-positive">Login</a>
		    </div>
		</form>

	</ion-content>
</ion-view>