<ion-view cache-view="false" hide-nav-bar="true">
	<ion-content id="authView" class="ionic login" scroll="false">

		<div class="list text-center padding">
	    	<i class="icon ion-pricetags larger positive"></i>
	    	<span class="login-title">BadgerScalp</span>
	    </div>

	    <form novalidate name="loginForm" ng-submit="loginForm.$valid && createUser(user.firstName, user.lastName, user.email, user.password)">
	    	<div class="list list-inset">

	    		<label class="item item-input" ng-class="{ 'has-error' : loginForm.firstName.$invalid && loginForm.$submitted }">
					<input name="firstName" type="text" ng-model="user.firstName" placeholder="First Name"
					ng-maxlength="30"
					required>
				</label>
				<div class="form-errors" ng-messages="loginForm.firstName.$error" ng-if="loginForm.$submitted">
					<div class="form-error" ng-message="required">This field is required.</div>
					<div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
				</div>

				<label class="item item-input" ng-class="{ 'has-error' : loginForm.lastName.$invalid && loginForm.$submitted }">
					<input name="lastName" type="text" ng-model="user.lastName" placeholder="Last Name"
					ng-maxlength="30"
					required>
				</label>
				<div class="form-errors" ng-messages="loginForm.lastName.$error" ng-if="loginForm.$submitted">
					<div class="form-error" ng-message="required">This field is required.</div>
					<div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
				</div>

		        <label class="item item-input" ng-class="{ 'has-error' : loginForm.email.$invalid && loginForm.$submitted }">
					<input name="email" type="email" ng-model="user.email" placeholder="Email"
					ng-minlength="5"
					ng-maxlength="30"
					required>
		        </label>
				<div class="form-errors" ng-messages="loginForm.email.$error" ng-if="loginForm.$submitted">
					<div class="form-error" ng-message="required">This field is required.</div>
					<div class="form-error" ng-message="email">This field is must be an email.</div>
					<div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
					<div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
				</div>

				<label class="item item-input" ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.$submitted }">
					<input name="password" type="password" ng-model="user.password" placeholder="Password"
					ng-minlength="5"
					ng-maxlength="30"
					required>
				</label>
				<div class="form-errors" ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted">
					<div class="form-error" ng-message="required">This field is required.</div>
					<div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
					<div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
				</div>
			</div>

		    <div class="padding-top">
				<input type="submit" class="button button-block button-positive" value="Register">
				<a ui-sref="login" nav-direction="back" nav-transition="android" class="button button-small button-clear button-positive">Login</a>
		    </div>
		</form>

	</ion-content>
</ion-view>