/*** AUTHORIZATION VIEW ***/

#authView {
/*	background: url("../img/randall.jpg");
	background-repeat: no-repeat;
	background-color: #000; */
	padding: 10px;

/*	background-position-x: -390px;
	transition: background-position-x 1.5s ease-in-out, background-position-y 1.5s ease-in-out;*/
}

/*#authView.bgAnimate {
	background-position-x: -790px;
	background-position-y: -80px;
}*/


/* Auth Header */
.login-title {
	position: absolute;
	left: 0;
	right: 0;
	top: 60%;
	font-size: 40px;
	font-style: oblique;
	font-weight: 900;
	font-variant: small-caps;
}

.ion-pricetags.larger {
    font-size: 120px;
}


/* Auth Form */
label.item.item-input {
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 1px;
}

.list.list-inset {
    margin: 0 1px;
}


/* Social Login */
.social-login button.button.button-outline {
	background-color: #fff;
}

.social-login .icon-left::before {
	line-height: 20px;
}

.social-login .button-positive  {
	border-left-color: grey;
}


/* Error Messages */
label.item.has-error {
  border-bottom: 2px solid red;
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

/*** END AUTHORIZATION VIEW ***/


/* Account Setting */

#user_profile img{
	width: 30%;
	margin-top: 10%;
	margin-left: 10%;
}

#user_profile .user_name{
	display: inline;
	margin-left: 10px;
}

.setting_item {
	margin-left: 20px;
	padding-top: 25px;
}

#setting hr{
	width: 90%;
}

.setting_block_item{
	color: blue;
	margin-left: 20px;
	padding-top: 25px;
}

#disable_block{
	margin-left: 20px;
	padding-top: 25px;
}

#disable_block input{
	margin-left: 40px;
}

#disable_block div{
	display: inline;
}

#account_setting_block{
	display: none;
}

/* Modal */
.modal.half {
  bottom: 0;  
  min-height: initial;
  top: initial;
  height: 60%;
  border-width: 1px;
  border-style: solid;

}