ion-content.has-header {
	background-color: #f8f8f8;
}

textarea {
	height: 61px;
	max-height: 61px;
	background-color: #f8f8f8;
}

input.button-assertive,
input.button-positive {
	font-weight: 500;
}

.title.header-item {
	font-family: 'Nunito', sans-serif;
}

.header-hover {
	height: 5px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
	z-index: 10;
	position: fixed;
}

.post-hover {
	top: 44px;
}

.action-sheet .button {
	color: black;
}

.item.item-avatar {
	background-color: #f5f5f5;
}

/*** AUTHORIZATION VIEW ***/

#authView {
	padding: 10px;
}

/* Auth Header */
.login-title {
	position: absolute;
	left: 0;
	right: 0;
	top: 60%;
	font-size: 40px;
	font-style: oblique;
	font-weight: 900;
	font-variant: small-caps;
}

.ion-pricetags.larger {
    font-size: 120px;
}


/* Auth Form */
label.item.item-input {
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 1px;
}

.list.list-inset {
    margin: 0 1px;
}


/* Social Login */
.social-login button.button.button-outline {
	background-color: #fff;
}

.social-login .icon-left::before {
	line-height: 20px;
}

.social-login .button-positive  {
	border-left-color: grey;
}


/* Error Messages */
label.item.has-error {
  border-bottom: 2px solid red;
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

/*** END AUTHORIZATION VIEW ***/


/* Account Setting */

#user_profile{
	width: 90%;
    margin: auto;
	margin-top: 10% !important;
}

#user_profile img{
	width: 50%;

}

#user_profile .user_name{
	display: inline;
	margin-left: 10px;
}

.setting_item {
	margin-left: 20px;
	padding-top: 25px;
}

#setting hr{
	width: 90%;
}

.setting_block_item{
	color: blue;
	margin-left: 40px;
	padding-top: 25px;
}

#disable_block{
	margin-left: 20px;
	padding-top: 25px;
}

#disable_block input{
	margin-left: 40px;
}

#disable_block div{
	display: inline;
}

#account_setting_block{
	display: none;
}

.edit_btn{
	float: right;
    display: inline;
    min-height: 20px;
    height: 30px;
    line-height: 0;
    margin-top: 5px;
}






/* Modal */
.modal.half {
  bottom: 0;  
  min-height: initial;
  top: initial;
  height: 69%;
  border-width: 1px;
  border-style: solid;

}

/* Star Rating */

form p,
form input[type="submit"] {
  text-align: center;
  font-size: 20px;
}

input[type="radio"] {
  display: none;
  font-size: 25px;
}

label {
  color: grey;
}

.clasification {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}


/*** POST VIEW ***/

.photoThumb {
	max-width: 100px;
	height: 100px;
	background-color: rgba(0,0,0,0.1);
	margin: 5px;
}

.photoThumb .icon {
	font-size: 48px;
	opacity: 0.8;
	position: relative;
	top: 20px;
	left: 29%;
}

.floatingPrice {
	position: absolute;
	right: 10px;
	bottom: 11px;
	font-size: 14px;
}

/*** END POST VIEW ***/


/*** SEARCH VIEW ***/

.bar-footer {
	padding: 0;
	bottom: -1px;
}

.bar-footer .button-bar > .button {
	line-height: 42px;
}

.bar-footer .button-bar .icon::before {
	font-size: 40px;
	line-height: 36px;
	margin-right: 5px;
}

.item-radio .item-content {
	padding-left: 56px;
}

/*** END SEARCH VIEW ***/


/*** FAB VIEW ***/

.bs-fab {
	position: fixed;
	bottom: 15px;
	right: 20px;
	margin: 0;
	z-index: 100;
	transition: bottom 0.3s ease-in-out;
}

.bs-fab img {
	max-height: 75px;
	max-width: 75px;
	border-radius: 50%;
	box-shadow: 0 4px 14px gray;
	background-color: #886aea;
	transition: box-shadow 0.2s;
}

.bs-fab.activated img {
	box-shadow: 0 1px 1px gray;
}

.bs-fab.fab-hide {
	bottom: -100px;
}

.right-buttons .icon.ion-ios-search::before {
	font-size: 25px;
}

/*** END FAB VIEW ***/

/*** Current Bid ***/
.bid_refine{
	padding-left: 0px;
	padding-top: 0px;
}